.search {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 70px;
    width: 590px; 
    background-color: var(--accent-color);
    border-radius: 35px;
    padding-left: 20px;
    padding-right: 30px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}
  
.searchBar {
    flex: 1; 
    height: 67px;
    background-color: var(--accent-color);
    color: antiquewhite;
    border: 0;
    text-align: left;
    font-size: x-large;
    border-radius: 33.5px;
    margin-left: 10px;
    width: 630px;
}

.addPostBar {
    flex: 1; 
    height: 100px;
    background-color: rgb(25, 25, 25);
    color: antiquewhite;
    border: 0;
    text-align: left;
    font-size: x-large;
    border-radius: 25px;
    /* margin-left: 10px; */
    width: 540px;
    margin-top: 20px;
    padding: 20px;
    /* padding-left: 20px;
    padding-top: 20px; */
    display: flex;
    align-self: center;
    justify-self: center;
    resize: none;
}
  

.searchBar:focus {
    outline: none;
}
  
.searchIcon {
    width: 50px;
    height: 50px;
}
  
.Post {
    background-color: var(--accent-color);  
    height: 630px;
    width: 570px;
    margin-bottom: 50px;
    border-radius: 70px;
    box-shadow: 0 8px 20px rgba(12, 12, 12, 0.4);
    padding: 30px;
}

.NewPost{
    background-color: var(--accent-color);  
    height: 215px;
    width: 570px;
    margin-bottom: 50px;
    border-radius: 50px;
    /* border-style: dashed; */
    box-shadow: 0 8px 20px rgba(12, 12, 12, 0.4);
    padding: 30px;
    color: antiquewhite;
    text-align: center;
    font-size: x-large;
}

.user {
    display: flex; 
    align-items: center;
    gap: 8px;
    width: 300px;
}

.ProfileImage {
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    background-color: white;
    margin-right: 10px;
}

.userInfo {
    margin-left: 10px;
}

.Nickname {
    font-size: x-large;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.Status {
    font-size: large;
    color: rgb(142, 142, 142);
    display: flex; 
    align-items: center;
    gap: 8px;
}

.PostText {
    font-size: large;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-bottom: 30px;
}

.postImage {
    width: 560px;
    height: 300px;
}

.PostLine {
    background-color: rgb(142, 142, 142);
    width: 560px;
    height: 2px;
    margin-top: 35px;
}

.PostAcvtivity {
    margin-top: 20px;
    width: 560px;
    height: 10%;
    display: flex; 
    align-items: center;
    gap: 8px;
}

.LikeActivity, .CommentActivity, .ShareActivity, .MoreActivity {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100px;
    height: 50px;
}

.LikeActivity { margin: 30px; }
.ShareActivity { margin-left: 30px; }
.MoreActivity { margin-left: 150px; }

.LikesAmount, .CommentsAmount, .ShareAmount {
    color: antiquewhite;
    font-size: x-large;
}